body {
	padding-top:50px;
	padding-bottom:20px;
}

#createDoneAddingButton {
	display:none;
}

#createSection2, #createSection3, #createTaskFormat {
	display:none;
}

#createSection2 label, #createSection2 input {
	margin-bottom:10px;
}

.dateField {
	width:90px;
}

.numberInput {
	width: 30px;
}